body {
  color: rgb(100, 100, 100);
  background-color: white;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  /*color: black;*/
  color rgb(100, 100, 100);
  font-size: 35px;
  line-height: 20 px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

h3{
  color: rgb(80, 80, 80);
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

p {
  color: rgb(100, 100, 100);
}

a {
  text-decoration: none;
  color: rgb(100, 100, 100);
}

a:hover{
  color: rgb(130, 130, 130);
}

ul {
  padding: 0;
}

.table-header{
  font-size: 50px;
  color:red;
}

.sidebar {
  list-style: none;
  text-align: center;
  padding-top: 350px;

}

.sidebar li {
  padding: 25px;
  font-size: 20px;

}
#sidebar {
  position: fixed;
  width: 150px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: white;
}

#page-content {
  margin-left: 150px;
  padding: 20px;
  border: 3px solid rgb(215,239,249);
  background-color: rgb(180,224,243) ;
  border-radius: 8px;
}
.container {
  background-color: rgb(240,249,253);
  text-decoration: none;
  color: black;
  width: 800px;
  padding: 20px;
  margin: 15px auto;
  border: 3px solid rgb(226,243,251);
  border-radius: 8px;
}

#links li {
  text-decoration: none;
  text-align: left;
  display: inline-block;
  margin: 10px;
  font-size: 25px;

}

.img-circle {
  border-radius: 50%;
  border: 3px solid rgb(113,199,236);
}

.btn-blue {
  background-color: rgb(113,199,236);
  text-decoration: none;
  color: white;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}
